app = "delta-drills-backend"
primary_region = "sjc"

[build]
  dockerfile = "Dockerfile"

[env]
  STORAGE_DIR = "/data/storage"
  USER_DATA_DIR = "/data/user_data"

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = false
  auto_start_machines = true
  min_machines_running = 1

[[mounts]]
  source = "delta_drills_data"
  destination = "/data"

[[vm]]
  size = "shared-cpu-1x"
  memory = "512mb"
